---
export const prerender = false;

import "../../styles/global.css";
import { Construction, Book } from "@lucide/astro";
import { Editor } from "../../islands/Editor.jsx";
---

<html lang="en" class="h-full">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="flex h-full bg-slate-100 p-4">
		<aside class="w-xs px-2 mr-8">
			<h1 class="flex gap-2 mb-6 items-center text-2xl font-medium text-emerald-700">
				<Construction /><span>Construction</span>
			</h1>
			<div class="flex flex-col gap-2">
				<h2 class="uppercase text-sm font-bold mb-2 text-slate-400">General</h2>
				<a
					href="#"
					class="flex gap-2 items-center text-md font-medium rounded-md px-3 py-1 text-slate-800 bg-white shadow-sm"
				>
					<Book class="h-4 w-4" />
					<span>Pages</span>
				</a>
				<a
					href="#"
					class="flex gap-2 items-center text-md rounded-md px-3 py-1 transition text-slate-800 hover:bg-white hover:shadow-sm"
				>
					<Book class="h-4 w-4" />
					<span>Pages</span>
				</a>
			</div>
		</aside>
		<main class="w-full bg-white rounded-lg shadow-md">
			<Editor client:visible />
		</main>
	</body>
</html>
