---
export const prerender = false;

import { Editor } from "../../islands/Editor.jsx";
import { Sidebar } from "../../islands/Sidebar.tsx";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Admin">
  <Sidebar client:only />
  <main class="w-full bg-white dark:bg-neutral-900 rounded-lg shadow-md">
    <Editor client:visible />
  </main>
</Layout>
